.favorites-section {
  padding-top: 20px;
}

.favorites-title {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  font-size: 40px;
  text-align: center;
}

.min-height-400 {
  min-height: 400px;
}

.folder-empty {
  padding: 180px 0px;
  font-size: 20px;
  text-align: center;
}