.modal-body .row {
  align-items: center;
}

.form-save-favorites {
  margin: 20px 25px !important;
  justify-content: flex-end;
  font-weight: bold;
}

.modal-footer .form-inline {
  width: 100%;
  justify-content: space-between;
}

.modal-footer .form-inline input {
  width: 300px
}

.container-cards {
  margin: 50px auto !important;
}

.container-cards .card {
  padding: 10px;
  width: 300px;
  max-width: 100%;
  height: 200px;
  transition: transform 500ms;
}

.container-cards .card:hover {
  cursor: pointer;
  transform: scale(1.1,1.1);
}

.card .row {
  align-items: center;
}

.card img {
  width: 50px;
}

@media (max-width: 767px) {
  
  .container-cards{
    margin: auto !important;
    max-width: min-content;
  }

}