.modal-body .row {
  align-items: center;
}

.form-save-favorites {
  margin: 20px 25px !important;
  justify-content: flex-end;
  font-weight: bold;
}

.modal-footer {
  justify-content: space-between !important;
}

.modal-footer .form-inline {
  width: 100%;
  justify-content: space-between;
}

.modal-footer .form-inline input {
  width: 300px
}

.card .row {
  align-items: center;
}

.card img {
  width: 50px;
}

@media (max-width: 767px) {
  
  .container-cards{
    margin: auto !important;
    max-width: min-content;
  }

}