.home-section {
  padding-top: 20px;
}

.site-title {
  margin: 50px auto;
  max-width: 500px;
  font-size: 40px;
  text-align: center;
}

.form-search {
  margin: 50px auto;
  max-width: 400px;
}

.form-search input {
  width: 300px !important;
}

